<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toy.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @toy.weight %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @toy.favorite  ? '√' : '×'  %>
</p>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
